# Build artifacts
build/
.vscode/
__pycache__/
ferry_cli.egg-info/

# Development artifacts
result.json
.venv
.git
swagger.json
config/swagger.json
ferry_cli/output/*

# Testing artifacts
/tmp/*
.make_creds.sh
remove
.vscode
